* {
    margin: 0;
}

main {
    display: flex;
    height: 100vh;
    background-color: black;
    gap: 1rem;
}

div {
    border: 1px solid black;
}

.item1 {
    flex-basis: 25%;
    background-color: lightgoldenrodyellow;
}

.item2 {
    flex-basis: 75%;
    background-color: lightcyan;
}